<nav class="navbar">
  <div class="navbar-menu">
    <a routerLink="/products">
      <span>
        <i class="fas fa-bars"></i>
      </span>
    </a>
    <a routerLink="/">
      <img class="navbar-menu_logo" src="../assets/images_template/panal_fresh_logo.png" alt="logo">
    </a>
    
  </div>
  <form>
    <input type="text" placeholder="¿Qué estás buscando?">
    <button><i class="fas fa-search"></i>Buscar</button>
  </form>
  <img class="navbar_user" src="../../assets/images_template/user.jpg" alt="user">
</nav>
